Fallen Worlds/.vs
Fallen Worlds/UserSettings
Fallen Worlds/obj
Fallen Worlds/Assembly-CSharp.csproj
Fallen Worlds/RetributionBase.sln
Fallen Worlds/ProjectSettings/Packages/com.unity.probuilder/Settings.json
Fallen Worlds/Library
Fallen Worlds/Logs
*.suo
*.csproj
Fallen Worlds/Library
